<form class="form-horizontal">
    <div class="control-group">
        <label>
            <input type="number" step="any" class="input-mini" data-bind="value:tool_length"> Tool-to-surface default distance
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <br>
        <label>
            <input type="number" step="any" class="input-mini" data-bind="value: smooth_points"> B-angle smoothing steps
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
        <br>
        <label>
            <input type="number" step="any" class="input-mini" data-bind="value: increment"> Fixed axis increments
            <i class="icon icon-info-sign" title="" data-toggle="tooltip"></i>
        </label>
    </div>
</form>