<!-- laser_profile_tab.jinja2 -->

    <div id="laserprofile_plugin_main" class="row-fluid">
        <div id="profilePlot" style="width: 100%; height: 500px;"></div>
        <div class="row" style="padding-left: 10px;">
            <div class="row" style="padding-left: 20px; padding-bottom: 10px;">
                <div class="span12">
                    <label for="scan_file_select">Select Ovality Scan File:</label>
                    <select id="scan_file_select">
                        <option value="">Loading...</option>
                    </select>
                </div>
            </div>
            
        </div>
    </div>
